<div class="select_date">
    <ul >
    <li>
        <a (click)="activate('first')" class="link-first active">Tue</a>
    </li>
    <li>
        <a (click)="activate('second')" class="link-second">Wed</a>
    </li>
    <li>
        <a (click)="activate('third')" class="link-third">Thu</a>
    </li>
    <li>
        <a  (click)="activate('fourth')" class="link-fourth">Fri</a>
    </li>
  </ul>
  </div>
  <div class="container im-first">
    <img src="../../assets/icons/day1-1.jpg"  class="widthh" alt="Schedule">
  </div>
  <div class="container d-none im-second">
    <img src="../../assets/icons/day1-2.jpg" class="widthh" alt="Schedule">
  </div>
  <div class="container d-none im-third">
    <img src="../../assets/icons/day1-3.jpg" class="widthh" alt="Schedule">
  </div>
  <div class="container d-none im-fourth">
    <img src="../../assets/icons/day1-4.jpg" class="widthh" alt="Schedule">
  </div>
