
<router-outlet></router-outlet>

<div class="search_field">
    <div class="search_modal">
        <input type="text" #termTitle placeholder="Type Here ...">
        <div class="search_btn">
          <div class="row">
            <div class="col-6">
              <button type="button" class="cancle" (click)="closeModal();termTitle.value='';">Cancle</button>
            </div>
            <div class="col-6">
              <button type="button" (click)="onSearch(termTitle.value,'');termTitle.value='';"  class="search" >Search</button>
            </div>
          </div>
        </div>
    </div>
  </div>


