<div class="welcome_field">
  <div class="container">
    <div class="main_text_field">
      <span> Dear Colleague ,</span>
      <p id=main_text>We Are Honored To Invite You To The Biggest Scientific Event Of Ophthalmology In Iran, Which Will Be Held On 11th-14th November 2019 In Mashhad. Considering The Capabilities Of The Leading Professors, Both From Iran And Other Countries Worldwide, We Hope We Shall Provide A Fruitful And Successful Congress. I Take This Opportunity To Thank The Board Of Directors Of The Iranian Society Of Ophthalmology Who Trusted Us To Hold The 29th Annual Congress In The Past 20 Years To Be Held Out Of The Capital, Tehran</p>
    </div>
    <p id="caption_text">Scientific Director Of The 29th Annual Congress Of The IrSO</p>

    <p id="director_name">Mohammadreza Sedaghat, MD</p>
    <p id="director_job">Scientific Director Of The 29th Anuual Congress Of IrSO</p>
  </div>
</div>
